<div class="jumbotron jumbotron-fluid" style="padding-bottom:0; padding-top:20px">
  <div class="container">
  	<div class="row">
	    <div class="col-md-6">
	    	<h1 class=""><%=  @project.title %></h1>
	    </div>
	    <div class="col-md-6">


		      <% if @project.banner.present? %>
		      	<%= image_tag(@project.banner, style:"width:100%;") %>
		      <% else %>
		      	<%= image_tag("project_placeholder.jpg", class:"card-img-top",style:"width:100%") %>
		      <% end %>


	    </div>
  	</div>
  	<hr>
  	<div class="row">
	    <div class="col-md-12">		
	  		<p class="lead pull-right"><%= @project.description %></p>		
	  	</div>
  	</div>
  </div>
</div>

<br>

<ul class="list-group">
	<% @project.project_assets.each do |media_asset| %>
	  <li class="list-group-item row">
	  	<div class="col-md-3">
	  		<%= image_tag(media_asset.media, height: '100', width: '100', class:"pull-left") %>
	  	</div>
	  	<div class="col-md-3">
	  		<%= media_asset.media_type %>
	  	</div>
	  	<div class="col-md-3">
	  		<%= media_asset.title %>
	  	</div>
	  	<div class="col-md-3">
	  		<a href="<%= media_asset.media %>" class="btn btn-sm btn-info"  data-lightbox="image-1" data-title="<%= media_asset.title %>">View full sized</a>
	  		<%= link_to "Delete Asset",  organizers_path(media_asset), method: :delete, class:"btn btn-sm btn-danger"  %>
	  	</div>
	  </li>
	<% end %>
</ul>