<h3>Add media</h3>	
<div class="row">
	<div class="col-md-6 col-sm-12">
		<%= form_for(@new_asset, url: organizers_project_asset_path) do |f| %>
		    <%= f.hidden_field :project_id, :value => current_organizer.project.id %>

		  <fieldset class="form-group">
		    <%= f.label :title %><br>
		    <%= f.text_field :title, class:"form-control" %>
		  </fieldset>

		  <fieldset class="form-group">
		 	<label class="radio-inline">
			  <%= radio_button("project_asset", "media_type", "image") %> Image
			</label>
		 	<label class="radio-inline">
			  <%= radio_button("project_asset", "media_type", "video") %> Video
			</label>
		  </fieldset>

		  <fieldset class="form-group">
			<label class="file">
			  <%= f.file_field :media %>
			  <span class="file-custom"></span>
			</label>
		  </fieldset>
		    
		  <%= f.submit "Create", class:"btn btn-primary"%>

		<% end %>
	</div>
</div>
