<h1><%= @my_project.title %></h1>
	<%= link_to "Add Media",  edit_organizers_project_path(current_organizer.project.id), class:"btn btn-warning" %>

<% if @my_project.project_assets.size>0 %>
	<%= link_to "Delete All Assets",  organizers_delete_assets_path, method: :delete, class:"btn btn-danger"  %>
<% end %>

<hr>

<ul class="list-group">
	<% @my_project.project_assets.each do |media_asset| %>
	  <li class="list-group-item row">
	  	<div class="col-md-3">
	  		<%= image_tag(media_asset.media, height: '100', width: '100', class:"pull-left") %>
	  	</div>
	  	<div class="col-md-3">
	  		<%= media_asset.media_type %>
	  	</div>
	  	<div class="col-md-3">
	  		<%= media_asset.title %>
	  	</div>
	  	<div class="col-md-3">
	  		<a href="<%= media_asset.media %>" class="btn btn-sm btn-info"  data-lightbox="image-1" data-title="<%= media_asset.title %>">View full sized</a>
	  		<%= link_to "Delete Asset",  organizers_path(media_asset), method: :delete, class:"btn btn-sm btn-danger"  %>
	  	</div>
	  </li>
	<% end %>
</ul>