<% if organizer_signed_in? %>
	<div class="row">
		<div class="col-md-4">
			<div class="card text-center">
			  <div class="card-header">
			  	<h4 class="card-title">Hi, <%= current_organizer.name %></h4>
			  </div>
			  <div class="card-block">
			    <p class="card-text">Your profile info</p>
			    <a href="#" class="btn btn-primary">Change</a>
			  </div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card text-center">
			  <div class="card-header">
			  	<h4 class="card-title"><%= @my_project.title %></h4>
			  </div>
			  <div class="card-block">
			    <p class="card-text">View and edit your sponsoring project</p>
					<%= link_to "View", organizers_project_path(current_organizer.project.id), class:"btn btn-info" %>
					<%= link_to "Edit",  edit_organizers_project_path(current_organizer.project.id), class:"btn btn-warning" %>
			  </div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card text-center">
			  <div class="card-header">
			  	<h4 class="card-title">My sponsors</h4>
			  </div>
			  <div class="card-block">
			    <p class="card-text">Check out who is supporting you</p>
			    <a href="#" class="btn btn-primary">Bakers</a>
			  </div>
			</div>
		</div>

	</div>
	


<% else %>
	<%= render partial: "organizers/dashboard/login" %>
<% end %>