<%= form_for(:sponsor, :url => session_path(:sponsor), html:{class:"form-signin"}) do |f| %>
  <h2 class="form-signin-heading">Please sign in</h2>

  <label for="inputEmail" class="sr-only">Email address</label>
  <%= f.email_field :email, class:"form-control", placeholder:"Email address" %>

  <label for="inputPassword" class="sr-only">Password</label>
  <%= f.password_field :password, class:"form-control", placeholder:"Password" %>

	<div class="checkbox">
      <label>
          <%= f.check_box :remember_me %> Remember me
      </label>
  </div>

  <%= f.submit 'Sign in', class:"btn btn-lg btn-primary btn-block" %>
  <%= link_to "Forgot your password?", new_password_path(:admin) %>
<% end %>