        <%= form_for(:sponsor, :url => registration_path(:sponsor), html:{class:"form"}) do |f| %>
        
            <label for="name" class="sr-only">Email address</label>
            <%= f.text_field :name, class:"form-control", placeholder:"Name" %><br>

            <label for="email" class="sr-only">Email address</label>
            <%= f.email_field :email, autofocus: true, class:"form-control", placeholder:"Email address" %><br>

            <label for="password" class="sr-only">Password</label>
            <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %>
            <%= f.password_field :password, autocomplete: "off", class:"form-control", placeholder:"Password" %><br>

            <label for="password_confirmation" class="sr-only">Password confirmation</label>
            <%= f.password_field :password_confirmation, autocomplete: "off", class:"form-control", placeholder:"Confirm password" %><br>

            <%= f.hidden_field :subscription_type_id %>
            <%= f.hidden_field :project_id, value:Project.find(params[:id]).id %>

            <%= f.submit "Sign up", class:"btn btn-info btn-block" %>

        <% end %>