<div class="row">
	<div class="col-md-12">
		<%= image_tag("hp_jumbotron.jpg", style:"width:100%") %>
	</div>
</div>

<div class="row" style="margin-top:90px;">
	<div class="col-md-12">
		<a href="#" class="btn btn-yellowings center-block">Actualle projecte</a>
		<p class="yellow-lead">Eine komplette übersicht aller aktuell zu unterstützenden prokected von yellowings sind hier aufgelistet.</p>
	</div>
</div>

<div class="row">
	<% @projects.each do |project| %>
		<div class="col-md-4">
		    <div class="card yw-project-card">
		      <a href="<%= sponsor_path(id:project.id) %>">
			      <% if project.banner.present? %>
			      	<%= image_tag(project.banner, class:"card-img-top",style:"width:100%") %>
			      <% else %>
			      	<%= image_tag("project_placeholder.jpg", class:"card-img-top",style:"width:100%") %>
			      <% end %>
		       </a>
 		      <div class="card-block">
		        <h4 class="card-title"><%= project.title %></h4>
		      </div> 
		    </div>
		</div>
	<% end %>
</div>