<h1>Yellowings Media Center</h1>
<p class="lead">What can you do from here:</p>
<%= link_to "Login as Admin", hq_path, class:"btn btn-warning"%>
<%= link_to "Login as Organizer", organizer_path, class:"btn btn-info"%>
<hr>
<h3>Available projects</h3>


<div class="row">
	<% @projects.each do |project| %>
		<div class="col-md-4">
		    <div class="card">
		      <%= image_tag(project.banner, class:"card-img-top",style:"width:100%") %>
		      <div class="card-block">
		        <h4 class="card-title"><%= project.title %></h4>
		        <p class="card-text" style="word-break: break-all"><%= project.description %></p>
		        <%= link_to("Back this project", sponsor_path , class:"btn btn-primary") %>
		      </div>
		    </div>
		</div>
	<% end %>
</div>