<div class="container">
  <div class="page-header">
  	<h1><%= @project.title %></h1>
  </div>
  <ul class="timeline">
  	<%  @project.project_assets.reverse.each_with_index  do |media_asset,index| %>

    <% if index.even? %>
    <li>
    <% else %>
    <li class="timeline-inverted">
    <% end %>

      <a class="timeline-badge" href="#"><i class="fa fa-share-alt"></i></a>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title"><%= media_asset.title.capitalize %></h4>
          <% @image_path = request.domain+media_asset.media.url %>
          <%= social_share_button_tag(@project.title, :url => request.domain, :image =>@image_path, desc: media_asset.title, via: "Yellowings") %>
          <p><small class="text-muted"><%= @project.organizer.name.capitalize %> added <%= time_ago_in_words(media_asset.created_at) %> ago</small></p>
        </div>
        <div class="timeline-body">
        	<a href="<%= media_asset.media %>" data-lightbox="image-1" data-title="<%= media_asset.title %>">
        	<%= image_tag(media_asset.media, style:"width:100%") %>
        	</a>
        </div>
      </div>
    </li>
    <% end %>
  </ul>
</div>